nav a {
    text-align: center;
}



img{
    max-width: 1600px;
}

#background{
    height: 725px;

}
.main-para{
    width: 1600px;
    margin: 0 auto;
    text-align: center;
}

body{
    background-color: #fcfbfb;
}

header{
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover{
    background-color: black;
}

nav a:hover{
    background-color: black;
    color: #d9c2a3;
}

.icon{
    width: 100px;
}

nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}