@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
/* For Home Page */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Montserrat, sans-serif;
    font-size: 22px;
}

/* For About Us page */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
}

main section {
    text-align: center;
}

/* For Contact Us */
h1 heading {
    text-align: justify;
    font-family: Roboto, Montserrat, sans-serif;
}