@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
/* For Home Page */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Montserrat, sans-serif;
    font-size: 22px;
}

/* For About Us page */
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
}

.founders-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2rem;
	padding: 0 20rem 0 20rem;
}

.founders-container > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.founders-container img {
	border: 1px solid#ccc;
	width: 250px;
	height: 250px;
	object-fit: contain;
	border-radius: 15rem;
}

.founders-container > div > div:last-child > p:first-child {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.founders-container > div > div:last-child > p {
	text-align: center;
}

.founders-container > div > div:last-child > p:last-child{
	margin-top: 1rem;
}

main section {
    text-align: center;
}

/* For Contact Us */
h1 heading {
    text-align: justify;
    font-family: Roboto, Montserrat, sans-serif;
}