@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@400;700&display=swap");


:root {
	/* change the values below to your colors from your palette */
	--primary-color: #5e376d;
	--secondary-color: #bd97cb;
	--accent1-color: #f3eac0;
	--accent2-color: #747080;
	--heading-font: "Roboto", sans-serif;
	--paragraph-font: "Lobster", cursive;

	--nav-link-color: #5e376d;
	--nav-background-color: #bd97cb;
	--nav-hover-link-color: #f3eac0;
	--nav-hover-background-color: #747080;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-family: var(--paragraph-font);
}

.heading {
	font-family: var(--heading-font);
}

.upperNav {
	display: flex;
	flex-direction: row;
	padding: 0.2rem;
	background-color: var(--nav-background-color);
	font-family: var(--heading-font);
}

.upperNav div {
	flex: 1 1 0%;
}

.upperNav div:last-child {
	text-align: right;
}

.upperNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.upperNav ul li {
	display: inline-block;
}

.upperNav ul li::after {
	content: " |";
}

.upperNav ul li:last-child::after {
	content: "";
}

nav {
	padding: 0.5rem 8rem 0.5rem 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	background-color: var(--nav-background-color);
	font-family: var(--heading-font);
}

nav div {
	flex: 1 1 0%;
	font-size: 1.1rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-radius: 1rem;
	transition: all .2s ease-in-out;
	color: var(--nav-link-color);
	text-decoration: none;
}

nav a#logo_link {
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-radius: 1rem;
}

nav a#logo_link:hover {
	background-color: transparent !important;
}

nav a:hover {
	background-color: var(--nav-hover-background-color);
	color: var(--nav-hover-link-color);
}

main {
	padding: 1rem;
}

.landing-content {
	display: flex;
	gap: 6rem;
	padding: 2rem 3rem 0 3rem;
	align-items: center;
}

.landing-content div,
.footer-container div:first-child,
.footer-container div:first-child,
.about-container div:last-child,
.about-container div:first-child {
	flex: 1 1 0%;
}

.about-container {
	display: flex;
	gap: 6rem;
}

.about-container h1,
h2,
h3 {
	color: var(--primary-color);
}

.landing-content div:first-child {
	text-align: center;
}

.landing-content div:last-child h2 {
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--primary-color);
	margin-bottom: 1.5rem;
}

.landing-content div:last-child p {
	margin-bottom: 1.5rem;
}

footer {
	background-color: var(--nav-background-color);
	margin-top: 3rem;
	font-family: var(--heading-font);
}

.footer-container {
	display: flex;
	padding: 1rem;
	color: var(--primary-color) !important;
	align-items: center;
}

.footer-container div:last-child {
	text-align: right;
}

.social a {
	text-decoration: none;
}

.social a img {
	width: 40px;
	height: 40px;
}

.founders-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2rem;
	padding: 0 20rem 0 20rem;
}

.founders-container > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.founders-container img {
	border: 1px solid#ccc;
	width: 250px;
	height: 250px;
	object-fit: contain;
	border-radius: 15rem;
}

.founders-container > div > div:last-child p:first-child {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.hero {
	width: 100%;
	height: 350px;
	margin-top: -2rem;
	background-size: cover;
	position: relative;
}

.homepage-hero {
	background-image: url("../image/pink_roses.jpg");
}

.contact-hero {
	background-image: url("../image/contact_us.jpg");
}

.about-hero {
	background-image: url("../image/about_us.jpg");
	background-position: center;
}

.contact-hero div,
.about-hero div,
.homepage-hero div {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	text-shadow: 1px 2px #000;
}

.contact-hero div h1,
.about-hero div h1,
.homepage-hero div h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.contact-hero div p,
.about-hero div p,
.homepage-hero div p {
	text-align: center;
}

.contact-container {
	display: flex;
}

.contact-container {
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.contact-container form label {
	display: block;
}

.contact-container table {
	width: 100%;
}

.contact-container table th,
td {
	padding: 10px;
}

.contact-container form input,
textarea {
	border: 1px solid #ccc;
	border-radius: 0.2rem;
	padding: 0.5rem;
	width: 100%;
}

.contact-container form button {
	background-color: var(--primary-color);
	color: #fff;
	padding: 0.5rem;
	border: 1px solid #863a6f;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
}

.contact-container form button:hover {
	background-color: #fff;
	color: var(--primary-color);
}

.address {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.address div,
address {
	flex: 1 1 auto;
}

.site-plan-hero {
	background-image: url("../image/pink_roses.jpg");
	width: 100%;
	height: 350px;
	margin-top: -2rem;
	background-size: cover;
	position: relative;
}

.site-plan-hero div {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	text-shadow: 1px 2px #000;
}

.site-plan-hero div h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.site-plan-hero div p {
	text-align: center;
}
